</div>
<!--jquery script-->
<script src="/JQ/jq.js"></script>
<script src="/JQ/main.js"></script>
<script src="/bt/js/bootstrap.bundle.js"></script>
<script src="/bt/js/bootstrap.min.js"></script>
</body>
</html>