<%- include("header.ejs") %>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript">

    </script>
    <div class="row" style="background-color:#FFFF;">
        <div class="col">
         <div class="card mt-3">
             <div class="card-header">Create new Task</div>
             <div class="card-body">
                <form onsubmit="return false">
                    <div class="row">
                        
                        <div class="col">
                            <label for="">Name of the task</label>
                            <input type="text" class="form-control shadow-sm" name="" id="name">
                        </div>
                    </div>
                    <div class="row">
    
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Status(completed/on progress)</label>
                            <select name="" id="status" class="form-control shadow-sm">
                                <option value="completed">Completed</option>
                                <option value="onprogress">Onprogress</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Number of days for completion</label>
                            <input type="number" class="form-control shadow-sm" name="days" id="duration">
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col">
                            <textarea name="" id="data" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <input type="submit" id="todo" value="create task" class="btn btn-primary form-control"
                                    name="" id="">
                            </div>
                        </div>
                    </div>
                </form>

             </div>
         </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(() => {

//This line of code will create provider to the block chain network
            const provider = new ethers.providers.Web3Provider(window.ethereum)
//The signer is the key that will be used to sign the details of the user
            const signer = provider.getSigner()
            $("#todo").click(async () => {
                var todo = $("#data").val()
                var name = $("#name").val()
                var status = $("#status").val()
                var duration = parseInt($("#duration").val())
                // var Id = $("#id").val()
                //abi respresent an interface of the smart contract by proviing the methods
                const abi = [
                    "function newTodo(string memory name,string memory desc,string memory status,uint ndays) public",
                    "function  todoNumber()view  public  returns(uint[]  memory)",
                    "function getTodo(uint  id)public view  returns(uint _id,string memory name,string memory desc,string memory status,uint _days)",
                    "function  CountTod()public view returns(uint num)",
                ]


                const address = "0xa8FBfbE8A8565203c76a451C5198b1ac71dbCAEC";
                //we call the contract in the read mod
                const TodoR= new ethers.Contract(address, abi,provider);
                //call the contract in the write mod
                const TodoW= new ethers.Contract(address, abi,signer);
                //call the contract in t
                const data = await TodoW.newTodo(name,todo,status,duration)
                //The receiptobject is the transaction details
                const receipt = await data.wait()
                 console.log(receipt)
                


            //   Todow.todoNumber().then((data)=>{

            //     console.log(data)
            //   })
              









            })

        })
    </script>
    <%- include("footer.ejs") %>